#head {
	height: 200px;
}
#logo {
	float:left;
	margin: 10px 0;
}
#user-menu {
	float: right;
	margin: 10px 0;
}
#user-menu ul {
	list-style: none;
}
#user-menu ul li {
	display: inline;	
}
#site-search {

}