<?xml version="1.0" encoding="UTF-8"?>
<pages>
	<page name="calendar/events" parent="commons/header">
		<position name="mainColumn" layout="fill">
			<fragment refer="eventFragment" view="List">
				<rules>
					<rule name="securityRule" code="calendar-event-view"/>
				</rules>
			</fragment>
		</position>
		<position name="rightColumn" width="280px">
			<fragment refer="calendarFragment" view="Actions">
				<rules>
					<rule name="securityRule" code="calendar-event-add"/>
				</rules>
			</fragment>
			<fragment refer="calendarFragment" view="Calendar">
				<title>日历</title>
			</fragment>
		</position>
	</page>
</pages>