.fragment {
	margin-bottom: 1em;
}
.fragment .head {
	border-bottom: 1px solid #DDD;
	background-color: #F6F6F6;
}
.fragment .head h3 {
	margin: 0;
	padding: 5px 10px 5px 10px;
	
}
.fragment .body {
	padding: 1em;
}
.fragment .body ul {
	margin: 0;
	padding: 0;	
}
.fragment .body ul li {
	list-style: none;	
}
/* action fragment */
.actions li{
	margin-bottom: 3px;
	padding-bottom: 2px;
	border-bottom: 1px dashed #DDD;
	background: url("../icons/forward.png") no-repeat;
	padding-left: 16px;
}
/* profile fragment */
.profiles-list .profile-body,
.profiles-recent .profile-body,
.profiles-top .profile-body {
	margin-left: 60px;
}
.profiles-list li.profile,
.profiles-recent li.profile,
.profiles-top li.profile {
	margin-bottom: 5px;	
}
#profile-form textarea.shortDescription{
	height: 60px;
}
#profile-form textarea.description {
	width: 90%
}
/* activity fragment */
.main-column .activity-form {
	margin-left: 85px;	
}
.right-column .activity-form {
	margin-left: 70px;
}
.span-11 .activity-form-logo {
	width: 60px;
	height: 60px;
}
.span-8 .activity-form-logo {
	width: 50px;
	height: 50px;	
}
.span-11 .activity-form textarea {
	margin-top:0;
	width: 310px;
	height: 60px;
}
.span-8 .activity-form textarea {
	margin-top:0;
	width: 200px;
	height: 50px;
}

.activities-list textarea {
	width: 70%;
	height: 50px;
}
.activities-list li {
	margin-bottom: 5px;
}
.activities-list .activity-body {
	padding-left: 65px;
}
.activities-list p {
	margin: 0;
	padding: 0;
}
.comments-list .comment-content {
	margin-left: 55px; 	
}
/* blog post fragment */
#post-form textarea {
	width: 90%;
}
/* question fragment */
.questions-list li,
.questions-recent li {
	padding-left: 18px;
	padding-bottom: 2px;
	margin-bottom: 5px;
	line-height: 16px;
	background: url("../icons/help_16x16.png") no-repeat;
	border-bottom: 1px dashed #DDD;	
}
.questions-list li.last
.questions-recent li.last {
	/*border-bottom: none;*/
}
.question .title {
}
#question-form textarea {
	width: 450px;
	height: 150px;
}
/* event fragment */
.events-list .calendar {
	border: 1px solid #DDD;
	margin-bottom: 1.5em;
}
.events-list .calendar .month {
	padding: 5px 0;
	text-align: center;
	background-color: #900;  
	radius: 5px;
}
.events-list .calendar .date {
	text-align: center;
	font-size: 300%;
}
.events-list .calendar .day {
	text-align: center;
	padding-bottom: 5px;
}
.events-list div.info {
	margin-left: 80px;	
}
.events-list ul {
}
.events-list ul li {
	margin-left: 80px;
	border-bottom: 1px dashed #DDD; 
}
.events-list ul li.last {
	border-bottom: none;	
}
.events-list ul li h4 {
	padding: 5px 10px;
	border-bottom: 1px solid #DDD; 
}
table.calendar {
	
}
table.calendar tbody tr td {
	margin: 1px;
	padding: 3px;
	border: 1px solid white;
	background-color: #EEE;
}
table.calendar tbody tr.first td {
	border: none;
	background-color: white;
	font-size: 120%;
}
table.calendar tbody tr td.first a {
	background-image: url("../icons/forward.png");
	background-repeat: no-repeat;
	display: block;
}
table.calendar tbody tr td.active {
	background-color: white;
}
table.calendar tbody tr td.first {
	background-color: white;
}
table.calendar tbody tr td a {
	display: block;	
}
/* answer fragment */
#answer-form textarea {
	width: 450px;
	height: 150px;
}
/* forum fragment */
#forum-form #description {
	width: 300px;
	height: 100px;	
}
.forums-list li.forum {
	margin-bottom: 1.5em;	
}
/* topic fragment */
#topic-form #content {
	width: 550px;
	height: 250px;	
}
.topic {
	margin-bottom: 2em;	
}
.topic .author {
	text-align: center;	
}
.topic .topic-head h4 {
	margin-left: 120px;
	border-bottom: 1px solid #DDD;
}
/* reply fragment */
.author {
	text-align: center;
}
.replies-list .reply-head h4 {
	margin-left: 120px;
	border-bottom: 1px solid #DDD;	
}
#reply-form {
	margin-left: 120px;
}
#reply-form textarea {
	width: 450px;
	height: 150px;	
}
/* member fragment */
.members-list {
	margin: 5px 5px 5px 0;	
}
.members-list li {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	border: 1px dashed #DDD;
	width: 32%;
}
.right .members-list li {
	width: 97.5%;
}
.members-list li:hover {
	background-color: #DDF0F8;
	border: 1px solid #DDD;	
}
.members-list li img {
	float: left;
	margin: 5px;	
}
.members-list .desc {
	margin-top: 5px;	
}
/* link fragment */
.thumbnails-list li {
	display: inline;
	margin-right: 5px; 
}
/* project fragment */
.project {
	padding-left: 1em;
	margin-bottom: 0.5em;		
}

/* site fragment */
#copyright {
	margin-bottom: 2em;
	text-align: center;
}