<?xml version="1.0" encoding="UTF-8"?>
<page name="system" parent="commons/header">
	<position name="leftColumn" width="200px" layout="fill">
		<fragment refer="systemFragment" view="Actions">
			<title>系统管理主菜单</title>
		</fragment>
	</position>
	<position name="mainColumn">
		<fragment refer="systemFragment" view="Welcome">
			<title>系统概况</title>
		</fragment>
	</position>
</page>