


/*==========  导航菜单样式   ============
	global-nav为第一层div的class名
	第二层div的class名为：bar
=============================*/
.global-nav ul,.global-nav li,.global-nav p,.global-nav fieldset,#section-header ul,#section-header li,#section-header p,#section-header,.global-nav fieldset,.global-nav select,.global-nav input,#footer ul,#footer li,#footer p{margin:0;padding:0;list-style-type:none;border:0;outline:0;background:none;vertical-align:middle;}
.global-nav,#body,#footer{clear:both;width:980px;margin-left:auto;margin-right:auto;}
.global-nav:after,#body:after,#main:after,#footer:after,.primary:after,.wrapper:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.global-nav,#body,#main,#footer{zoom:1;}
#body .wrapper{padding:0 10px;}
.global-nav{font-size:13px;margin-bottom:15px;}
.global-nav a,.global-nav a:hover,.global-nav a:visited{text-decoration:none!important;color:#069;}
.global-nav .logo{margin:6px 10px 0 3px;float:left;width:92px;display:block;}
/*.global-nav .logo a{background:url(../images/sprite_global_v4.png) no-repeat;display:block;height:22px;text-indent:-12345px;}*/
.global-nav .logo a{background:url(../images/logo.png) no-repeat;display:block;height:60px;width:150px;text-indent:-12345px;}
.global-nav.guest .logo{padding-bottom:5px;}
.global-nav .account{float:left;font-size:11px;margin-top:15px;}
.global-nav .util{font-size:11px;color:#666;margin:15px 3px 5px 8px;float:right;}
.global-nav .util li{display:inline;padding:0 2px 0 10px;*padding-right:6px;}
.global-nav .util .droplist{display:inline;padding-left:25px;_zoom:1;}
.global-nav .util .nav-rule{display:none;}
.global-nav .util .add-conx{color:#060;}
.global-nav .util .jump{position:absolute;left:-9999px;}
.global-nav .util .username{background:url(../images/sprite_global_v4.png) no-repeat 100% -1763px;background-position:100% -1761px\9;*background-position:100% -1762px;padding-right:8px;}
.js .global-nav .util .signout{display:none;}
.global-nav .bar{background:url(../images/sprite_global_v4.png) no-repeat 0 -470px;width:100%;}
.global-nav .bar .wrapper{padding:0 5px;background:url(../images/sprite_global_v4.png) no-repeat 0 -510px;height:39px;}
.global-nav .bar .nav{margin-left:5px;}
.global-nav .bar .tab{float:left;margin:1px 0 0 0;line-height:35px;font-size:13px;}
.global-nav .bar .tab span{display:block;padding:1px 9px;}
.global-nav .bar .tab:hover,.global-nav .bar .tab.hover{background:#fff!important;border:1px solid #016799;box-shadow:0px 3px 10px #888;-moz-box-shadow:0px 3px 10px #888;-webkit-box-shadow:0px 3px 10px #888;}
.global-nav .bar .tab:hover span,.global-nav .bar .tab.hover span{padding:0 8px;}
.global-nav .bar .hover span{background-color:#fff;position:relative;z-index:10;}
.global-nav .bar .hover .menu span{background-color:transparent;position:static;}
.global-nav .bar .hover .menu .title{padding:0 5px 5px;}
.global-nav .hover{position:relative;z-index:9;}
.global-nav .hover .menu,.global-nav .open .menu{display:block;}
.global-nav .menu{display:none;position:absolute;top:34px;left:-1px;z-index:4;background:#fff;border:1px solid #016799;padding:5px 0;box-shadow:0px 6px 10px #888;-moz-box-shadow:0px 6px 10px #888;-webkit-box-shadow:0px 6px 10px #888;}
.global-nav .menu li{line-height:1;_width:175px;margin:0 5px;font-size:13px;white-space:nowrap;}
.global-nav .menu li a{color:#069!important;white-space:nowrap;display:block;padding:5px;_width:100%;_overflow:hidden;_text-overflow:ellipsis;}
.global-nav .menu li a:hover{color:#fff!important;background-color:#016799;text-decoration:none;}
.global-nav .menu li a:hover sup{color:#fff;}
.global-nav .menu li#nav-my-apps{color:#666;padding-top:10px;}
.global-nav .menu li.separator{margin-top:4px;padding-top:4px;border-top:1px solid #ccc;}
.global-nav .menu ul{margin:0;padding:0;}
.global-nav .menu ul li{margin:0;padding:0;}
.global-nav .menu ul li a{padding:5px 10px;}
.global-nav .util .menu{right:0;padding-left:5px;padding-right:5px;top:17px;z-index:2;}
.global-nav .util .menu li{display:block;padding:0;margin:0;font-size:11px;text-align:right;}
.global-nav .nav-rule{line-height:1px;height:1px;border-top:1px solid #fff;position:absolute;top:34px;left:0;display:block;z-index:3;padding:0!important;}



/*========== 搜索表单所使用样式   ============
	siteSearchForm为form的id名
	search-scope为搜索div的class名
	该样式要放在最后，可能是样式有冲突

==========================================*/
#siteSearchForm{float:right;margin:8px 4px 0 0;*margin:7px 4px 0 0;padding:0;}
#siteSearchForm fieldset{float:left;white-space:nowrap;}
#siteSearchForm legend,#siteSearchForm legend span,#siteSearchForm label{position:absolute;left:-12345px;}
#siteSearchForm select{font-size:11px;font-weight:bold;color:#666;padding:2px;text-align:right;}
#siteSearchForm .search-go{cursor:pointer;border:1px solid #06598B;color:#0076A8;background:#0076A8 url(../images/sprite_global_v4.png) -9px -1170px no-repeat;height:22px;width:20px;*width:22px;_width:24px;*margin-left:4px;*font-size:.01em;text-indent:-1234px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#siteSearchForm .search-go:hover{background-position:-9px -1200px;}



.nav-primary-shim{visibility:hidden;position:absolute;left:-9999px;z-index:1;background-color:#fff;width:1px;height:1px;border:none;overflow:hidden;}
#nav-primary-inbox-item-total{background:#f90;border:1px solid #c60;color:#fff;display:inline-block;_display:inline;font-size:11px;line-height:1;margin-left:3px;padding:1px 3px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
#inbox-received-unread-total{display:inline;padding:0;}

#main-search-box{background:#fff;border:1px solid #7c7c7c;border-color:#7c7c7c #c3c3c3 #ddd;height:16px;width:211px;line-height:12px;padding:4px 2px 0;font-size:12px;}
.fr #main-search-box,.pt #main-search-box{width:180px;}
#search-link{font-size:11px;line-height:22px;margin:0 6px 0 12px;display:inline;}
.basic-search #main-search-box{width:265px;}
.fr .basic-search #main-search-box,.pt .basic-search #main-search-box{width:195px;}
.basic-search #search-link{display:none;}
#siteSearchForm ol{float:left;}
#siteSearchForm ol li{margin:0 3px;float:left;}
#siteSearchForm ol li input{width:200px;font-size:12px;background:#fff;border:1px solid #7c7c7c;border-color:#7c7c7c #c3c3c3 #ddd;height:16px;line-height:12px;padding:4px 2px 0;}

#search-autocomplete-container{position:relative;zoom:1;display:inline;float:left;padding-right:3px;_padding-right:0;_float:none;}
#search-autocomplete-container .typeahead-loading-icon{display:none;position:absolute;top:3px;right:7px;}
#search-autocomplete-container .typeahead-loading-icon.loading{display:block;}

.js .styled-dropdown{position:relative;}
.js .styled-dropdown ul{display:none;position:absolute;z-index:200;background:#fff;}
.js .styled-dropdown select{position:absolute;left:-9999em;}
.js .styled-dropdown iframe{display:none;position:absolute;border:0;}
.js .styled-dropdown.open ul,.js .styled-dropdown.open iframe{display:block;left:auto;}
.js .toggle-show-more,.js .toggle-show-less{color:#069;font-size:11px;cursor:pointer;white-space:nowrap;}


.search-scope{font-size:11px;float:left;z-index:7;}
.search-scope label{position:static;left:0;}
.search-scope .suggestion-toggle{display:none;}
.search-scope ul{background:#fff;border:1px solid #016799;padding:5px;box-shadow:0px 6px 10px #888;-moz-box-shadow:0px 6px 10px #888;-webkit-box-shadow:0px 6px 10px #888;color:#069;display:none;float:left;min-width:100px;}
.search-scope ul li{display:block;padding:0;margin:0;line-height:1;cursor:pointer;text-align:right;font-size:12px;}
.search-scope ul li a,.search-scope ul li div{color:#069;padding:5px;}
.search-scope ul li.option.first{margin-top:3px;}
.search-scope ul li.separator{margin-top:4px;padding-top:4px;border-top:1px solid #ccc;}
.search-scope ul li.highlighted div{color:#fff;background-color:#016799;}
.search-scope ul li.selected div{background:none;color:#000;font-weight:bold;}
.search-scope span.label{float:left;background:#dcdcdc url(../images/sprite_global_v4.png) 0 -1130px repeat-x;margin:0;*margin-top:1px;_vertical-align:-5px;border:1px solid #7c7c7c;border-width:1px 0 1px 1px;border-color:#7c7c7c #999 #c3c3c3;-moz-border-radius:2px 0 0 2px;-webkit-border-top-left-radius:2px;-webkit-border-bottom-left-radius:2px;border-radius:2px 0 0 2px;}
.search-scope span.label span{float:left;background:url(../images/sprite_global_v4.png) 101% -2072px no-repeat;color:#666;font-weight:bold;padding:4px 19px 3px 8px;cursor:pointer;}
.search-scope .suggestion-toggle{display:block;cursor:pointer;}
.search-scope .state-on .on-toggle,.search-scope .state-off .off-toggle{display:none;}
.search-scope .state-on .off-toggle,.search-scope .state-off .on-toggle{display:block;}



/*======页底样式========*/
.footer{border-top:1px solid #ccc;margin:20px 0 0;padding:10px 0 0;color:#666;clear:both;}


/*=====页面中间部分样式=======*/
#bd{min-height: 400px}


/*========四方模块窗体样式表========
	共有5种显示风格
===================================*/
.moduleblock li{font-size:100%;margin:10px 0;background:transparent url('../images/sprite/sprite_registration_v2.png') no-repeat 0 -162px;padding-left:15px;}
.fragment{margin-bottom:20px;	padding:0;	width:100%;}
.fragment .fragment-head{color:#333;	padding-right:8px;}
.fragment .fragment-head h1,.fragment .fragment-head h2,.fragment .fragment-head h3,.fragment .fragment-head h4,.fragment .fragment-head h5{padding:5px 5px 5px 10px;margin:0;}
.fragment .fragment-body{background:#fff;border:1px solid #ddd;border-width:0 1px 1px;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;padding:6px 10px 8px 10px;zoom:1;}
.fragment.mod-basic .fragment-head,.fragment.mod-basic .fragment-head h1,.fragment.mod-basic .fragment-head h2,.fragment.mod-basic .fragment-head h3,.fragment.mod-basic .fragment-head h4,.fragment.mod-basic .fragment-head h5{background:#999 url('../images/sprite_global_v4.png') 0 -130px no-repeat;}
.fragment.mod-basic .fragment-head,.module.mod-basic .fragment-head *{color:#fff;}
.fragment.mod-basic .fragment-head{background-position:100% -130px;}
.fragment.mod-feat .fragment-head,.fragment.mod-feat .fragment-head h1,.fragment.mod-feat .fragment-head h2,.fragment.mod-feat .fragment-head h3,.fragment.mod-feat .fragment-head h4,.fragment.mod-feat .fragment-head h5{background:#3085af url('../images/sprite/sprite_global_v4.png') 0 -80px no-repeat;}
.fragment.mod-feat .fragment-head{color:#fff;}
.fragment.mod-feat .fragment-head{background-position:100% -80px;}
.fragment.mod-util .fragment-head,.fragment.mod-util .fragment-head h1,.fragment.mod-util .fragment-head h2,.fragment.mod-util .fragment-head h3,.fragment.mod-util .fragment-head h4,.fragment.mod-util .fragment-head h5{background:#e8e8e8 url('../images/sprite/sprite_global_v4.png') 0 -180px no-repeat;}
.fragment.mod-util .fragment-head{color:#666;}
.fragment.mod-util .fragment-body{padding:6px 10px 8px 10px;}
.fragment.mod-util.util-nav .fragment-body{padding:5px;}
.fragment.mod-util .fragment-head{background-position:100% -180px;}
.fragment.mod-action{background:#DDF0F8 url('../images/bg/bg_module_action_600x800.gif') no-repeat right bottom;margin:0 0 20px;padding:0;}
.fragment.mod-action .fragment-head{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat right top;margin:0;padding:0 10px 0 0;}
.fragment.mod-action .fragment-head h1,.fragment.mod-action .fragment-head h2,.fragment.mod-action .fragment-head h3,.fragment.mod-action .fragment-head h4,.fragment.mod-action .fragment-head h5{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat left top;color:#069;}
.fragment.mod-action .fragment-body{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat 0 100%;border:none;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;color:#333;margin:0 5px 0 0;overflow:hidden;padding:0 15px 20px 15px;*padding-bottom:10px;-ms-zoom:1;zoom:1;}
.fragment.mod-info{background:url('../images/bg/bg_module_info_featured_1x113.gif') repeat-x top left;margin:0 0 20px;padding:0;}
.fragment.mod-info .fragment-head{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat top right;margin:0;padding:0 5px 0 0;}
.fragment.mod-info .fragment-head h1,.fragment.mod-info .fragment-head h2,.fragment.mod-info .fragment-head h3,.fragment.mod-info .fragment-head h4,.fragment.mod-info .fragment-head h5{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat top left;margin:0;padding:10px 10px 0 10px;}
.fragment.mod-info .fragment-head strong{background:url('../images/icon/icon_lightbulb_10x17.gif') no-repeat;display:block;min-height:17px;padding-left:17px;}
.fragment.mod-info .fragment-body{background:transparent;border-color:#9acce6;margin-left:0;top:0;}


.btn-primary,.btn-secondary,.btn-ternary,.btn-quaternary,.btn-action{background-image:url('https://www.linkedin.com/scds/common/u/img/sprite/sprite_global_v4.png');background-repeat:repeat-x;border-width:1px;border-style:solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;font-size:12px;line-height:1.35;margin:0;overflow:visible;padding:3px 10px 2px;*padding:2px 10px 1px;text-decoration:none!important;vertical-align:top;width:auto;}
a.btn-primary,a.btn-secondary,a.btn-ternary,a.btn-quaternary,.btn-action{display:inline-block!important;*padding:3px 10px;}
a.btn-primary:hover,a.btn-secondary:hover,a.btn-ternary:hover,a.btn-quaternary:hover,.btn-action:hover{text-decoration:none!important;}
.btn-primary[disabled],.btn-primary.disabled,.btn-secondary[disabled],.btn-secondary.disabled,.btn-ternary[disabled],.btn-ternary.disabled,.btn-quaternary[disabled],.btn-quaternary.disabled,.btn-action[disabled],.btn-action.disabled{cursor:default;}
.toggle-btn{background:url('https://www.linkedin.com/scds/common/u/img/sprite/sprite_global_v4.png') no-repeat 4px -1925px;display:inline-block!important;margin-top:10px;width:15px;height:3px;}
.btn-primary,.btn-menu-open.btn-primary,.btn-split.btn-primary:hover{background-color:#0571a6!important;background-position:0 -2189px;border-color:#045a8b;color:#fff!important;}
.btn-primary:hover,.btn-toggle-hover.btn-primary:hover{background-color:#04608e!important;background-position:0 -2235px;border-color:#004a73;}
.btn-split-toggle-hover .btn-primary{border-right-color:#004a73;}
.btn-primary:active,.btn-split-toggle-hover.btn-primary:active{background-color:#267696;background-position:0 -2276px;border-color:#004a73;}
.btn-primary[disabled],.btn-primary.disabled{background-color:#82b8d2;background-position:0 -2322px;border-color:#81acc5;color:#ddebf2!important;}
.btn-secondary,.btn-menu-open.btn-secondary{background-color:#cecece;background-position:0 -2372px;border-color:#999;color:#666!important;}
.btn-secondary:hover{background-color:#b7b7b7;background-position:0 -2418px;}
.btn-secondary:active{background-color:#c9c9c9;background-position:0 -2464px;}
.btn-secondary[disabled],.btn-secondary.disabled{background-color:#e6e6e6;background-position:0 -2510px;border-color:#ccc;color:#b0b0b0!important;}
.btn-ternary,.btn-menu-open.btn-ternary,.btn-split.btn-ternary:hover{background-color:#cde5f0;background-position:0 -2748px;border-color:#a3cfe4;color:#069!important;}
.btn-ternary:hover,.btn-split-toggle-hover.btn-ternary:hover{background-color:#aed6e9;background-position:0 -2794px;border-color:#64b0d4;}
.btn-split-toggle-hover .btn-ternary{border-right-color:#64b0d4;}
.btn-ternary:active,.btn-split-toggle-hover.btn-ternary:active{background-color:#dcedf5;background-position:0 -2840px;border-color:#64b0d4;}
.btn-ternary[disabled],.btn-ternary.disabled{background-color:#e6f2f7;background-position:0 -2885px;border-color:#d1e7f1;color:#81b4c3!important;}
.btn-ternary .toggle-btn{background-position:4px -1768px;}
.btn-quaternary,.btn-menu-open.btn-quaternary,.btn-split.btn-quaternary:hover{background-color:#ececec;background-position:0 -2935px;border-color:#ccc;color:#585858!important;}
.btn-quaternary:hover,.btn-split-toggle-hover.btn-quaternary:hover{background-color:#d7d7d7;background-position:0 -2981px;border-color:#b3b3b3;}
.btn-quaternary-toggle-hover .btn-ternary{border-right-color:#b3b3b3;}
.btn-quaternary:active,.btn-split-toggle-hover.btn-quaternary:active{background-color:#f7f7f7;background-position:0 -3027px;border-color:#b3b3b3;}
.btn-quaternary[disabled],.btn-quaternary.disabled{background-color:#f5f5f5;background-position:0 -3073px;border-color:#e5e5e5;color:#bdbdbd!important;}
.btn-quaternary .toggle-btn{background-position:4px -1609px;}
.btn-tertiary{background:#669F16 url('https://www.linkedin.com/scds/common/u/img/sprite/sprite_global_v4.png') 0 -3123px repeat-x;border:1px solid #693;color:#fff;font-weight:bold;font-size:120%;text-align:center;text-decoration:none;padding:3px 16px;*padding:3px 8px;cursor:pointer;font-size:12px;}
button.btn-tertiary{*padding:6px 8px;}
.btn-tertiary:hover{background-color:#5d822a;background-position:0 -3169px;}
.btn-tertiary:active{background-color:#649f15;background-position:0 -3215px;}
.btn-tertiary[disabled],.btn-tertiary.disabled{background-color:#b3cf8b;background-position:0 -3261px;}
.btn-action{background-color:#ffcf0b;background-position:0 -2560px;border-color:#e8b463;color:#333!important;font-weight:bold;}
.btn-action:hover{background-color:#f6c408;background-position:0 -2606px;}
.btn-action:active{background-color:#f5dd61;background-position:0 -2652px;}
.btn-action[disabled],.btn-action.disabled{background-color:#ffe785;background-position:0 -2698px;border-color:#f3d9b1;color:#a4996d!important;}



/* css/login.css */

.login{margin-bottom:10px;}
.login p,.signin #cookieDisabled{text-align:center;margin-bottom:15px;font-size:13px;}
.login .alert p{text-align:left;font-weight:bold;}
.login ul{-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #ccc;width:470px;_width:480px;margin:0 auto;padding:30px 20px 30px 20px;_padding-right:0;}
.login span.error{font-size:12px;display:inline-block;margin-bottom:2px;}
.login li{overflow:hidden;margin-bottom:4px;zoom:1;}
.login label{font-size:13px;color:#333;display:block;float:left;text-align:right;padding-right:8px;width:110px;font-weight:bold;line-height:33px;*line-height:29px;}
.login .fieldgroup{float:left;width:350px;padding:3px 0;}
.login .fieldgroup input{font-size:16px;width:220px;}
.login .fieldgroup a{font-size:11px;padding-left:5px;}
.login .button{margin:10px 0 0 117px;*margin-left:59px;width:410px;}
.login .button input{vertical-align:middle;}
.login .button span{font-size:12px;vertical-align:middle;}
.login div.alert{margin:0 0 29px;}
.login .fieldgroup_L{float:left;width:50px;padding:3px 0;}




/*================中央标题样式========*/
#section-header,.page-title{margin:0 10px 15px 10px;zoom:1;}
.wrapper #section-header,.wrapper .page-title{margin:0 0 15px;}
#section-header:after,.page-title:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#section-header,.wrapper .page-title{background:url('https://www.linkedin.com/scds/common/u/img/bg/bg_border_3x1.png') repeat-x 0 100%;}
#section-header h1,.page-title h1{color:#333;font-size:180%;padding-bottom:7px;font-weight:normal;}
#section-header h1 a,.page-title h1 a{color:#333!important;}
#section-header h1 img,.page-title h1 img{vertical-align:middle;}
.page-title.sub{margin-top:15px;}



