

/* css/default.css */

hr{display:none;}
strong{font-weight:bold;}
abbr,acronym{border:none;}
img{border:none;}
a{text-decoration:none;color:#069;outline:none;}
a:hover{text-decoration:underline;}
a:visited,#footer a:visited{color:#069;}
#regbody .more a:visited,#regbody .action a:visited,#regbody .actions a:visited,#regbody .cancel:visited,#regbody .more:visited,.nav-link:visited,.nav-links a:visited{color:#069;}

.btn-reg{background:#669F16 url('../images/sprite/sprite_global_v4.png') 0 -3123px repeat-x;border:1px solid #693;color:#fff;font-weight:bold;font-size:120%;text-align:center;text-decoration:none;padding:3px 16px;*padding:3px 8px;cursor:pointer;font-size:12px;}
button.btn-reg{padding:6px 8px;}
.btn-reg:hover{background-color:#5d822a;background-position:0 -3169px;}
.btn-reg:active{background-color:#649f15;background-position:0 -3215px;}
.btn-reg[disabled],.btn-reg.disabled{background-color:#b3cf8b;background-position:0 -3261px;}

div.regalert{color:#333;background-color:#fff;margin:0 0 15px;padding:6px 7px 6px 35px;*padding-top:14px;overflow:hidden;min-height:28px;position:relative;}
div.regalert img{display:none;}
div.regalert p,div.regalert h3{font-size:13px;margin:7px 21px 5px 7px;}
div.regalert h3{font-weight:bold;}
div.regalert .dismiss{background:url('../images/sprite/sprite_global_v4.png') right -1294px no-repeat;display:block;padding:7px 0 2px;position:absolute;text-indent:-12345px;top:3px;right:14px;width:18px;cursor:pointer;height:12px;}
div.regalert a:visited{color:#039;}
div.regalert.attention{background:#fff5cc url('../images/sprite/sprite_global_v4.png') no-repeat 7px -723px;}
div.regalert.warning{background:#fff5cc url('../images/sprite/sprite_global_v4.png') no-repeat 7px -723px;}
div.regalert.error{background:#fee url('../images/sprite/sprite_global_v4.png') no-repeat 7px -643px;}
div.regalert.success{background:#e6f8dd url('../images/sprite/sprite_global_v4.png') no-repeat 7px -883px;}
div.regalert.notice{background:#ddf0f8 url('../images/sprite/sprite_global_v4.png') no-repeat 7px -803px;}
div.regalert.error.regalert-details,div.errorbox.regalert-details{background-image:url('../images/icon/icon_status_fail_26x26.gif');background-position:7px 7px;}
div.regalert.success.regalert-details{background-image:url('../images/icon/icon_status_success_26x26.gif');background-position:7px 7px;}
div.regalert.warning.regalert-details{background-image:url('../images/icon/icon_status_info_26x26.gif');background-position:7px 7px;}
div.regalert.notice.regalert-details,div.regalert.attention.regalert-details{background-image:url('../images/icon/icon_status_info_blue_26x26.gif');background-position:7px 7px;}






/* css/modules.css */

.about-module{margin-bottom:20px;padding:0;width:100%;}
.about-module .aboutheader{color:#333;padding-right:8px;}
.about-module .aboutheader h1,.about-module .aboutheader h2,.about-module .aboutheader h3,.about-module .aboutheader h4,.about-module .abouthender h5{padding:5px 5px 5px 10px;margin:0;}
.about-module .aboutcontent{background:#fff;border:1px solid #ddd;border-width:0 1px 1px;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;padding:6px 10px 8px 10px;zoom:1;}
.about-module.mod-basic .header,.about-module.mod-basic .header h1,.about-module.mod-basic .header h2,.about-module.mod-basic .header h3,.about-module.mod-basic .header h4,.about-module.mod-basic .header h5{background:#999 url('../images/sprite/sprite_global_v4.png') 0 -130px no-repeat;}
.about-module.mod-basic .header,.module.mod-basic .header *{color:#fff;}
.about-module.mod-basic .header{background-position:100% -130px;}
.about-module.mod-feat .header,.about-module.mod-feat .header h1,.about-module.mod-feat .header h2,.about-module.mod-feat .header h3,.about-module.mod-feat .header h4,.about-module.mod-feat .header h5{background:#3085af url('../images/sprite/sprite_global_v4.png') 0 -80px no-repeat;}
.about-module.mod-feat .header{color:#fff;}
.about-module.mod-feat .header{background-position:100% -80px;}
.about-module.mod-util .aboutheader,.about-module.mod-util .aboutheader h1,.about-module.mod-util .aboutheader h2,.about-module.mod-util .aboutheader h3,.about-module.mod-util .aboutheader h4,.about-module.mod-util .aboutheader h5{background:#e8e8e8 url('../images/sprite/sprite_global_v4.png') 0 -180px no-repeat;}
.about-module.mod-util .aboutheader{color:#666;}
.about-module.mod-util .aboutcontent{padding:6px 10px 8px 10px;}
.about-module.mod-util.util-nav .content{padding:5px;}
.about-module.mod-util .aboutheader{background-position:100% -180px;}
.about-module.mod-action{background:#DDF0F8 url('../images/bg/bg_module_action_600x800.gif') no-repeat right bottom;margin:0 0 20px;padding:0;}
.about-module.mod-action .header{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat right top;margin:0;padding:0 10px 0 0;}
.about-module.mod-action .header h1,.about-module.mod-action .header h2,.about-module.mod-action .header h3,.about-module.mod-action .header h4,.about-module.mod-action .header h5{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat left top;color:#069;}
.about-module.mod-action .content{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat 0 100%;border:none;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;color:#333;margin:0 5px 0 0;overflow:hidden;padding:0 15px 20px 15px;*padding-bottom:10px;-ms-zoom:1;zoom:1;}
.about-module.mod-info{background:url('../images/bg/bg_module_info_featured_1x113.gif') repeat-x top left;margin:0 0 20px;padding:0;}
.about-module.mod-info .header{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat top right;margin:0;padding:0 5px 0 0;}
.about-module.mod-info .header h1,.about-module.mod-info .header h2,.about-module.mod-info .header h3,.about-module.mod-info .header h4,.about-module.mod-info .header h5{background:url('../images/bg/bg_module_action_600x800.gif') no-repeat top left;margin:0;padding:10px 10px 0 10px;}
.about-module.mod-info .header strong{background:url('../images/icon/icon_lightbulb_10x17.gif') no-repeat;display:block;min-height:17px;padding-left:17px;}
.about-module.mod-info .content{background:transparent;border-color:#9acce6;margin-left:0;top:0;}





/* css/forms.css */
.standard-form{margin:0;padding:0;border:0;outline:0;
	font-weight:inherit;font-style:inherit;
	font-size:100%;font-family:inherit;vertical-align:baseline;}
.standard-form ul{margin:0;padding-top:10px;list-style-type:none;}
.standard-form ul ul,.standard-form .fieldgroup{margin:0 0 0 195px;_margin-left:198px;padding:0;}
.standard-form fieldset.details ul{margin:0;}
.standard-form li,.standard-form fieldset.details li{margin-bottom:10px;}
.standard-form .api_url_string{display:inline;float:left;margin:0 0 0 30px;}
.standard-form .api_url_string .tip{margin-left:0;}
.standard-form li:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.standard-form li li,.standard-form fieldset.details li li{margin-bottom:0;}
.standard-form .predefined_urls{float:left;}
.standard-form fieldset.details li input,.standard-form fieldset.details li select{margin-left:20px;}
#ui_tree #root_of_tree ul{margin:0 0 0 15px;}
#regmain .standard-form .last{margin-bottom:0;background-image:none;}
.standard-form{margin:20px 40px;}
.standard-form fieldset{background:url('../images/bg/bg_grey_dotted_h-line_3x1.png') 0 0 repeat-x;*background-position:0 1em;}
.standard-form li fieldset{background:none;border:none;margin:0;padding:0;}
.standard-form fieldset.details{background:#ebebeb;padding:10px 10px 1px 10px;margin:10px 0 0 195px;_margin-left:198px;}
.standard-form fieldset fieldset.details,.standard-form .fieldgroup fieldset.details{margin-left:0;}
.standard-form fieldset.details fieldset{margin:0;padding:0;}
.standard-form legend{font-size:180%;color:#333;background-color:#fff;padding-right:10px;*margin-left:-10px;_margin-left:-7px;}
.standard-form label,.standard-form li fieldset legend span,.standard-form li fieldset.details fieldset legend{font-size:130%;color:#333;background-color:transparent;font-weight:bold;display:block;float:left;text-align:right;width:185px;margin-right:10px;}
.standard-form li fieldset legend{position:relative;line-height:1.5;padding:0;margin:0;}
.standard-form li fieldset legend span{font-size:13px;position:absolute;*left:-7px;white-space:normal;}
.standard-form .optional label em,.standard-form .optional legend em{font-weight:normal;display:block;}
.standard-form .required label em,.standard-form .required legend em{color:#900;}
.standard-form li fieldset.details legend{display:none;}
.standard-form li fieldset.details fieldset legend{float:none;text-align:left;*margin-left:-10px;_margin-left:-7px;}
.standard-form .fieldgroup.checkbox input{float:left;}
.standard-form .fieldgroup.checkbox p{padding-left:23px;_margin-top:.5em;}
.standard-form .fieldgroup.checkbox .details{margin-left:23px;}
.standard-form .fieldgroup.checkbox label,.standard-form label.checkbox{font-weight:normal;padding:0;width:auto;display:inline;float:none;line-height:1;vertical-align:2px;text-align:left;}
.standard-form .fieldgroup.checkbox label{display:block;padding:4px 0 0 23px;*padding-top:0;_padding-left:20px;*padding-bottom:3px;}
.standard-form li fieldset label,.standard-form li fieldset.details fieldset label{font-weight:normal;float:none;text-align:left;line-height:1;width:auto;margin-bottom:0;}
.standard-form li fieldset.details label,.standard-form li fieldset.details label,.standard-form li .checkbox fieldset.details label{font-weight:bold;margin-bottom:5px;padding:0;}
.standard-form li fieldset.details li.checkbox{display:block;padding:0;}
.standard-form li fieldset.details li.checkbox input{margin-left:0;}
.standard-form li fieldset.details li.checkbox label{margin-left:0;padding:4px 0 0 20px;font-weight:normal;}
.standard-form li fieldset.details li.checkbox .subchoice{padding:9px 0 0 34px;margin:-8px 0 -3px;}
.standard-form li fieldset.details li .info{font-size:13px;padding:0 0 1px 20px;background:url('../images/icon/icon_info_yellow_16x16.png') no-repeat;}
.standard-form input,.standard-form select,.standard-form textarea{font-size:130%;}
.standard-form p{margin-left:195px;_margin-left:200px;margin-top:.25em;color:#333;}
.standard-form p.instructions{font-size:130%;margin-bottom:5px;}
.standard-form p.attention{font-size:130%;background:#FFF5CC url('../images/icon/icon_status_info_16x16_v2.png') no-repeat 8px 6px;padding:6px 6px 6px 30px;}
.standard-form p.example,.standard-form p.tip,.standard-form p.note{font-size:110%;color:#666;}
.standard-form p.actions{background:url('../images/bg/bg_grey_dotted_h-line_3x1.png') 0 0 repeat-x;padding-top:20px;margin-top:20px;font-size:130%;}
.standard-form p.actions input{font-size:inherit;*font-size:100%;vertical-align:middle;}
.standard-form p.actions .alternate{line-height:2;}
.standard-form p.key{font-size:110%;color:#666;margin-top:15px;}
.standard-form p.key strong{vertical-align:top;color:#900;font-size:130%;}
.standard-form .error{font-size:120%;color:#900;font-weight:bold;}
.standard-form.sided{margin:20px 10px;}
.standard-form.sided ul ul,.standard-form.sided .fieldgroup{margin-left:120px;_margin-left:117px;}
.standard-form.sided .fieldgroup{_margin-left:123px;}
.standard-form.sided p{margin-left:120px;}
.standard-form.sided fieldset.details{margin-left:120px;}
.standard-form.sided fieldset.details ul label{width:auto;}
.standard-form.sided label,.standard-form.sided li fieldset legend span,.standard-form.sided li fieldset.details fieldset legend{width:110px;}
.standard-form.sided fieldset.details,.standard-form.sided fieldset.details ul{margin-left:0;}
.standard-form.simple{margin-top:0;}
.standard-form.simple .checkbox label{display:inline;padding:0;vertical-align:middle;}
.standard-form.simple .checkbox label input{float:none;display:inline;}
.standard-form.stacked{margin:0 10px;}
.standard-form.stacked label,.standard-form.stacked li fieldset legend span{float:none;text-align:left;line-height:1.5;}
.standard-form.stacked li.required{_padding-left:10px;_margin-left:-10px;}
.standard-form.stacked li.required label,.standard-form.stacked li.required fieldset legend span{margin-left:-10px;}
.standard-form.stacked li.required fieldset label{margin-left:inherit;*margin-left:0;}
.standard-form.stacked li fieldset legend span{position:static;*position:relative;*left:-7px;}
.standard-form.stacked li.required input{_margin-left:0;}
.standard-form.stacked li fieldset input{*margin-left:0;}
.standard-form.stacked ul ul,.standard-form.stacked .fieldgroup,.standard-form.stacked fieldset.details,.standard-form.stacked p,.standard-form .fieldgroup p,.standard-form fieldset.details p{margin-left:0;}
.standard-form .screen,.ajax-form .screen{position:relative;display:block;filter:alpha(opacity=0);opacity:0;z-index:2;zoom:1;_margin-left:-20px;}
.standard-form .progress-indicator,.ajax-form .progress-indicator{display:none;}
.standard-form.form-submit-processing .hidden,.ajax-form.form-submit-processing .hidden{width:1px;visibility:hidden;overflow:hidden;}
.standard-form.form-submit-processing .progress-indicator,.ajax-form.form-submit-processing .progress-indicator{display:inline;padding-left:21px;background:url('../images/anim/anim_loading_16x16.gif') no-repeat 5px center;zoom:1;}



/* css/chrome.css */






#regmain h1{font-weight:normal;font-size:160%;}


#regbody{clear:both;_width:80.5em;width:805px;min-width:805px;max-width:95%;margin:0 auto;
font:62.5%/1.2 Arial,Helvetica,"Nimbus Sans L",sans-serif;color:#000;}

#regbody{background:#fff;padding:0;border:1px solid #ccc;}
#regbody .regwrapper{padding:15px;}
.regcontent{float:left;width:72%;}
#aboutextra{float:right;width:26%;}
#regmain{zoom:1;}
h1{font-size:180%;color:#39c;}
h2{font-size:130%;margin-bottom:1em;}
div.regalert{_height:28px;}
form ul input,form ul textarea{border:1px solid #999;outline:none;padding:2px 3px;background-color:#fff;}
form ul input.focus,form ul textarea.focus,form ul input:focus,form ul textarea:focus{border:2px solid #39c;padding:1px 2px;}
form ul select{outline:none;}

.join-openSrcForce .register-container{overflow:hidden;zoom:1;margin:10px 0 25px 0;*margin-bottom:12px;width:555px;font-size: 100%;}
.join-openSrcForce .standard-form.sided{width:320px;_width:335px;float:left;padding:0 0 0 20px;margin:0;}
.join-openSrcForce .standard-form.sided ul ul,.join-openSrcForce .standard-form.sided .fieldgroup{margin-left:105px;}
.join-openSrcForce .standard-form ul{margin:0;padding:0;}
.join-openSrcForce .standard-form label{width:97px;margin-right:0;}
.join-openSrcForce .standard-form input{width:203px;margin:0;}
.join-openSrcForce .standard-form.sided p{margin-left:105px;zoom:1;}
.join-openSrcForce .standard-form.sided button p{margin-left:0;}
.join-openSrcForce .standard-form .actions{background:none;padding-top:0;margin-top:10px;font-size:100%;zoom:1;}
.join-openSrcForce .standard-form .actions em{font-size:130%;}
.join-openSrcForce .standard-form .actions label{display:none;}
.join-openSrcForce .standard-form .actions button{width:auto;max-width:183px;*width:183px;zoom:1;cursor:pointer;}
.join-openSrcForce .standard-form.sided p.actions button p,.join-openSrcForce .standard-form.sided p.actions button div,.join-openSrcForce.existing .standard-form.sided p.actions button div{margin:0;padding:0;color:#fff;line-height:1;}
.join-openSrcForce .standard-form #register-custom-nav{margin-top:15px;clear:both;zoom:1;}
#legend{clear:both;font-size:110%;border-top:1px solid #ccc;color:#555;margin-bottom:25px;padding-top:15px;*padding-top:8px;text-align:center;}
.join-openSrcForce .introduction{padding-bottom:11px;background:transparent url('../images/bg/bg_arrow_foursided_4a99c0_34x34.png') no-repeat bottom left;margin-left:108px;}
.join-openSrcForce .introduction h1{font-size:180%;font-weight:normal;color:#fff;padding:10px 15px;background:#74b9dc url('../images/bg/bg_blue_19x63.png') repeat-x bottom left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-left:-108px;}
.join-openSrcForce.cookied .introduction{background-image:url('../images/bg/bg_arrow_foursided_898989_34x34.png');}
.join-openSrcForce.cookied .introduction h1{background:#aaa url('../images/bg/bg_gray_19x63.png') repeat-x bottom left;}
.join-openSrcForce #aboutextra li{font-size:130%;margin:10px 0;background:transparent url('../images/sprite/sprite_registration_v2.png') no-repeat 0 -162px;padding-left:15px;}
.join-openSrcForce #aboutextra .video{background:url('../images/bg/bg_grey_dotted_h-line_3x1.png') repeat-x 0 0;margin-top:15px;padding-top:10px;}
.join-openSrcForce #aboutextra .video a{padding:0 24px 0 20px;font-size:130%;background:transparent url('../images/sprite/sprite_registration_v2.png') no-repeat 100% -123px;}
.join-openSrcForce #aboutextra .video{display:none;}
.js .join-openSrcForce #aboutextra .video{display:block;}
.js .join-openSrcForce.no-flash #aboutextra .video{display:none;}
.join-openSrcForce #inviter{background:#fff;width:177px;padding:10px;margin-bottom:20px;border:1px solid #baddee;float:right;position:relative;z-index:1;min-height:50px;_height:50px;}
.join-openSrcForce #inviter img.photo{display:none;}
.join-openSrcForce #inviter.photos{padding-right:65px;width:122px;}
.join-openSrcForce #inviter.photos img.photo{display:block;}
.join-openSrcForce #inviter .photo{background-color:#fff;border:1px solid #e6e6e6;padding:2px;position:absolute;top:10px;right:10px;}
.join-openSrcForce #inviter h2{font-weight:bold;margin-bottom:2px;font-size:140%;}
.join-openSrcForce #inviter p{font-size:130%;}
.join-openSrcForce #inviter p.adr{color:#666;margin-bottom:15px;}
.join-openSrcForce #inviter h3{color:#555;font-size:110%;margin-bottom:8px;font-weight:bold;}
.join-openSrcForce #inviter ul{margin-bottom:15px;padding-left:1.2em;font-size:130%;}
.join-openSrcForce #inviter li{list-style-type:disc;}
.join-openSrcForce #inviter .show-more,.join-openSrcForce #inviter .show-less{display:none;font-size:110%;margin-top:7px;}
.js .join-openSrcForce #inviter .show-less{display:block;}
.js .join-openSrcForce #inviter.collapsed .show-more{display:block;}
.js .join-openSrcForce #inviter.collapsed .show-less{display:none;}
.js .join-openSrcForce #inviter.collapsed .expanded{display:none;}
.join-openSrcForce #group-information{background:#fff;width:177px;padding:10px;margin-bottom:20px;border:1px solid #baddee;float:right;position:relative;z-index:1;min-height:50px;_height:50px;}
.join-openSrcForce #group-information img{margin-bottom:10px;}
.join-openSrcForce #group-information h2{font-weight:bold;margin-bottom:2px;font-size:140%;}
.join-openSrcForce #group-information .description{font-size:130%;margin-top:8px;}
.join-openSrcForce #video{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:none;}
.join-openSrcForce #video h3{line-height:32px;color:white;background:#4387b1 url('../images/sprite/sprite_registration_v2.png') repeat-x 0 -65px;font-size:160%;padding-left:10px;-moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-radius:5px 5px 0 0;}
.join-openSrcForce #video .content{padding:15px;text-align:center;}
.join-openSrcForce #video .content p{margin:15px 0 0;font-size:130%;}
.join-openSrcForce .yui-panel .container-close{top:11px;right:10px;background:transparent url('../images/sprite/sprite_registration_v2.png') repeat-x 0 -207px;width:9px;height:9px;}
.join-openSrcForce #video{display:none;}
.join-openSrcForce #video_c #video{display:block;}

#regmain.no-profile .regcontent{width:58%;}
#regmain.no-profile #aboutextra{width:40%;}
#regmain.no-profile .standard-form.sided{width:auto;}
#regmain.join-openSrcForce .register-container{width:auto;}
#regmain.no-profile .standard-form input{width:213px;}
#regmain.no-profile #btn-submit-label{width:auto;max-width:193px;*width:193px;}



