/**************************************
   Fragments
***************************************/

#attachmentForm {
	height: 200px;	
}
#system-actions {
	margin: 5px 5px;	
}
#search-bar {
	margin-top: 5px;
	border: 1px solid #DDD;
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#search-bar ul {
	margin: 0;
	padding: 0 5px;
}
#search-bar ul li{
	float: left;
	padding: 5px 10px;
	border-right: 5px solid #F6F6F6;
}
#search-bar ul li:hover {
	background-color: #DDD;
}
#search-bar ul li.current {
	background-color: #DDD;
}
#search-bar ul li a {
	
}
#searchForm select {
	padding: 0px;
	height: 22px;
}
.info-box img {
	float:left;
	margin-right: 5px;
}
.info-box .address {
	width:200px;
}
.project-actions, .actions{
	margin:0;
	padding: 5px;
	background-color: #F6F6F6;	
}
.project-actions li, .actions li {
	margin-bottom: 3px;
	padding-bottom: 2px;
	border-bottom: 1px dashed #DDD;
	background: url("../icons/forward.png") no-repeat;
	padding-left: 16px;
}
.project-actions li.last, .actions li.last {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;	
}
.thumbnails-list li {
	float: left;
	padding-bottom: 5px;
}
#basicForm label,
#attributesForm label {
	display: inline;	
}
.activity-last {
	margin : 0;
}
ul.activities-list li {
	margin-bottom: 5px;
}
.main ul.activities-list li {
	padding: 5px;
	background-color: #F6F6F6;
	border-radius: 5px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
ul.activities-list .comments-list li {
	border: 1px dotted #DDD;
}
ul.activities-list .activity-body {
	margin-left: 50px;
}
ul.activities-list .activity-content {
	min-height: 50px;
}
ul.activities-list .activity-content p {
	display: inline;	
}
ul.activities-list .activity-content .float-right {
	margin-top: 5px;	
}
ul.activities-list .commentContainer {
	display: none;	
}
.main ul.activities-list .activityCommentForm {
	background-color: #F6F6F6;	
}
.right ul.activities-list .activityCommentForm {
	background-color: #FFFFFF;
}
.right ul.activities-list textarea {
	width: 200px;
	height: 50px;
}
ul.activities-list img {
	float: left;
}
ul.activities-list .comments-list .img {
	float: left;
}
ul.activities-list .comments-list .comment-content {
	min-height: 45px;
	margin-left: 45px;
}
.main ul.activities-list textarea {
	height: 50px;
	width: 98.5%;
}
.button_bar {
	margin: 0 5px 5px 5px;
}
.button_bar button {
	display: block;
	border: 1px solid #DDD;
	height: 26px;
	width: 100%;
	background-image: url("../background/button.png");
}
.button_bar button:active {
	background-image: none;
	background-color: #F6F6F6;
}

.events-list li {
	line-height:16px;
	padding-left: 18px;
	margin-bottom: 3px;
	background: url("../icons/calendar_16x16.png") no-repeat;
}
.events-list .date {
	float: right;	
}
.events-left {
	float: left;
	width: 48%;
}
.events-right {
	float: right;
	width: 48%;
}
img.thumbnail {
	float: left;
	margin-right: 4px;	
}
.main #activityForm img.thumbnail {
	width: 60px;
	height: 60px;
}
.right #activityForm img.thumbnail {
	width: 50px;
	height: 50px;
}
.main textarea.vblog {
	height: 70px;
	width: 80%
}
.right textarea.vblog {
	height: 70px;
	width: 198px;
}
textarea.comment {
	width: 97%;
	height: 70px;	
}
#profile {
	padding: 10px;	
	background-color: #DDF0F8;	
}
#profile-photo {
	float: right;
	text-align: center;
}
#profileForm #profile-photo {
	margin-right: 20px;
	margin-top: 15px; 	
}
#profile-basic {
	min-height: 75px;
}
#profile-basic dt {
	font-weight: bold;
	font-size: 13px;
}
#profile-basic dd {
	margin-bottom: 5px;
}
#profile-attributes {
	margin-top: 5px;	
}
#profile-attributes dl {
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #DDD;
}
#profile-attributes dl dd {
	padding-bottom: 2px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #DDD;
}
#profile-attributes dl dd.last {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
#calendar {
	margin: 5px;	
}

.posts-list li h1 span {
	font-size: 12px;
	font-weight: normal;
}

.posts-list li {
	margin-bottom: 50px;
}
.posts-recent li {
	padding-left: 18px;
	padding-bottom: 2px;
	margin-bottom: 3px;
	line-height: 16px;
	background: url("../icons/blog_16x16.png") no-repeat;
	border-bottom: 1px dashed #DDD;
}
.posts-recent li.last {
	border-bottom: none;
}
.project-posts-recent img {
	width: 30px;
	height: 30px;
	float: left;	
}
.project-posts-recent .post-body {
	min-height: 40px;
	margin-left: 40px;
}
.comments-list .author {
	width: 40px;
	height: 40px;
	float: left;	
}
.comments-list .author .thumbnail {
	width: 40px;
	height: 40px;
}
.comments-list .content {
	margin-left: 50px;
	min-height: 50px;
}

.actions-list {
	margin-left: 10px;
}

.topics-recent li {
	padding-left: 18px;
	padding-bottom: 2px;
	margin-bottom: 3px;
	line-height: 16px;
	background: url("../icons/discussion_16x16.png") no-repeat;
	border-bottom: 1px dashed #DDD;	
}
.topics-recent li.last {
	border-bottom: none;
}
.views-counter {
	float: right;	
}
.project-topics-recent img {
	width: 30px;
	height: 30px;
	float: left;
}
.project-topics-recent .topic-body {
	min-height: 40px;
	margin-left: 40px;	
}
.files-top {
	margin-left: 10px;	
}
.files-top li {
	list-style-image: url("../icons/download_16x16.png");
	list-style-position: inside;
}
.files-top li a {
	vertical-align: top;	
}
.messages-list img {
	width: 40px;
	height: 40px;
	float: left;
}
.messages-list .subject {
	margin-left: 50px;
}
.messages-list .content {
	margin-left: 50px;
	min-height: 40px;	
}
#message img {
	float: left;
	margin: 5px;
}
#message .content {
	padding-top: 5px;
	margin-left: 90px;
}
#replyMessageForm {
	border-top: 1px solid #DDD; 	
}
/*
#categoryForm, 
#searchForm,
#activityForm, 
#messageForm, 
#replyMessageForm, 
#permissionsForm,
#loginForm,
#welcome,
.post-content {
	margin-top: 10px;
}
*/
.post-content {
	margin: 5px;
}
.document-actions {
	float: right;
	bottom: 0;	
}
#permissionsForm table thead th {
	padding: 5px 10px;
	font-weight: bold;
	font-size: 14px;
}
#permissionsForm table tbody td {
	padding: 5px 10px;	
}
.members-list {
	margin: 5px 5px 5px 0;	
}
.members-list li {
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
	border: 1px dashed #DDD;
	width: 32%;
}
.right .members-list li {
	width: 97.5%;
}
.members-list li:hover {
	background-color: #DDF0F8;
	border: 1px solid #DDD;	
}
.members-list li img {
	float: left;
	margin: 5px;	
}
.members-list .desc {
	margin-top: 5px;	
}
.forums-list .forum-head {
}
.forums-list .forum-head h3 {
	margin: 10px 0;
	padding: 0;
}
.forums-list .forum-head h3 span {
	font-size: 12px;
	font-weight: normal;	
}
.forums-list .topics-list {
	margin: 0;	
}
.forums-list li {
	margin-bottom: 5px;	
}
.topics-list li {
	padding-left: 18px;
	margin-bottom: 3px;
	padding-buttom: 2px;
	border-bottom: 1px dashed #DDD;
	line-height: 16px;
	background: url("../icons/discussion_16x16.png") no-repeat;
}
.topics-list li.last {
	border-bottom: none;	
}
#topicForm textarea {
	width: 99%;
	height: 300px;
}
#forumForm label {
	display: inline;	
}
.topic,
.reply {
	padding: 5px 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background-color: #F6F6F6;
}
.reply {
	background-color: #FBFBFB;
}
.replies-list {
	margin: 0;	
}
.topic .topic-author,
.replies-list .reply-author,
#replyForm .reply-author {
	padding:10px 10px 0 10px;
	float: left;
	text-align: center;
}
.topic .topic-head,
.replies-list .reply-head {
	margin: 0 5px 5px 150px;
	padding-bottom: 3px;
	border-bottom: 1px solid #DDD;	
}
.topic .topic-body,
.replies-list .reply-body{
	margin-left: 150px;
	padding-right: 5px;
	min-height: 100px;
}
.topic .topic-foot,
.replies-list .reply-foot {
	padding-right:5px;
}
.replies-list li {
	margin: 10px 0;
}
.replies-list li.last {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.replies-list li.last .reply {
	border-bottom: none;
}
.replies-list .quote {
	margin-bottom: 5px;
	border: 1px solid #DDD;
}
.replies-list .quote .quote-head {
	padding: 3px 5px;
	background-color: yellow;	
}
.replies-list .quote .quote-body {
	padding: 3px 5px;
} 
#replyForm {
	border-top: 1px solid #DDD;	
}
#replyForm .reply-author {
	float: left;	
}
.categories-list {
	
}
.categories-list li {
	padding-left: 5px; 
}
.projects-list img {
	float: left;
	width: 40px;
	height:40px;
}
.projects-list .project-body {
	margin-left: 50px;
	min-height: 50px;
}
.projects-recent img,
.projects-top img {
	float: left;
	width: 30px;
	height:30px;
}
.projects-list li,
.projects-recent li,
.projects-top li {
	margin-bottom: 5px;	
}
.projects-recent .profile-body,
.projects-top .profile-body {
	margin-left: 40px;
	min-height: 40px;
}
.questions-list li {
	padding-left: 18px;
	padding-bottom: 2px;
	margin-bottom: 3px;
	line-height: 16px;
	background: url("../icons/help_16x16.png") no-repeat;
	border-bottom: 1px dashed #DDD;	
}
.questions-list li.last {
	border-bottom: none;
}

#postForm textarea {
	width: 99%;	
	height: 400px;
}
#projectForm fieldset {
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #EFF0F1;
}
#projectForm fieldset legend {
	font-size: 14px;
	font-weight: bold;
}
#themeForm {
	border-bottom: 1px solid #DDD;	
}
.themes-list li {
	border: 1px solid #DDD;
	padding: 5px 5px 0 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: #F6F6F6;
	float: left;
}
.themes-list li:hover {
	border-color: #DDF0F8;	
}
.themes-list li div {
	text-align: center;
}
.themes-list img {
	width: 100px;
	height: 100px;	
}

.post-footer, .post-header {
	background-color: #FAFAFA;
	padding: 5px; margin: 15px 10px 10px 10px;
	border: 1px solid #f2f2f2; 
	font-size: 95%;
}
.post-footer .date, .post-header .date {
	background: url(../images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments, .post-header .comments {
	background: url(../images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore, .post-header .readmore {
	background: url(../images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

#system-welcome {
	padding: 5px;
	border: 1px solid #f2f2f2; 
	background-color: #FAFAFA;
}

#system-welcome fieldset {
	margin: 5px 0;
	padding: 5px;
	border: 1px solid #f2f2f2;
}

#system-welcome fieldset legend {
	font-size:large;
	font-weight: blod;
		
}
table.cool thead th {
	padding: 5px; 10px;
	font-size: 14px;
	font-weight: bold;
}
table.cool tbody td {
	padding: 5px; 10px;
}
.sync-targets * {
	vertical-align: middle;	
}
.sync-targets img {
	margin-left: 5px;
	border: none;
}